# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ui-test-extensions/.project
/ui-test-extensions/.settings
/ui-test-extensions/ui-test-extensions-datasource-excel/.project
/ui-test-extensions/ui-test-extensions-datasource-excel/.settings
/ui-test-extensions/ui-test-extensions-datasource-excel/target
/ui-test-extensions/ui-test-extensions-datasource-excel/.classpath
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/ui-test-extensions-datasource-excel/.classpath
/ui-test-extensions-datasource-excel/.project
/ui-test-extensions-datasource-excel/.settings/org.eclipse.core.resources.prefs
/ui-test-extensions-datasource-excel/.settings/org.eclipse.jdt.core.prefs
/ui-test-extensions-datasource-excel/.settings/org.eclipse.m2e.core.prefs
/ui-test-extensions-datasource-excel/.settings/org.eclipse.xtend.core.Xtend.prefs
/rapit-datasource-excel/.classpath
/rapit-datasource-excel/.gitignore
/rapit-datasource-excel/.project
/rapit-datasource-excel/.settings/org.eclipse.core.resources.prefs
/rapit-datasource-excel/.settings/org.eclipse.jdt.core.prefs
/rapit-datasource-excel/.settings/org.eclipse.m2e.core.prefs
/rapit-datasource-excel/.settings/org.eclipse.xtend.core.Xtend.prefs
